.sider-bar {
  .item {
    cursor: pointer;
    height: 54px;
    border-bottom: 0.5px solid #000000;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    font-family: cursive;
    position: sticky;
  }
  .item:hover {
    text-transform: uppercase;
    text-decoration: overline;
  }
}
